<header class="navbar-header">
    <div class="superior-navbar-container" style="display: grid;">
        <div class="superior-navbar"  [class.invisible]="!isSuperiorVisible">
            <div class="superior-navbar-left">
                <img src="assets/images/Minimal-Business-Logo-Reveal-f-unscreen.gif" alt="Superior Digital Logo"
                    class="superior-logo">
                <img src="assets/images/text.png" alt="Superior Digital Text" class="superior-text-logo"
                    style="border-radius: 0px;margin-left: -30px !important;">
                <img src="assets/images/authorized.png" alt="Apple Logo" class="apple-logo">
                <!-- <span class="reseller-text">Authorised Reseller</span> -->
            </div>
            <div class="superior-navbar-right">
                <span class="contact-item">
                    <span class="icon phone"></span>
                    <span class="contact-text"><a href="tel:+918023116047" style="color: black;">+91 80 2311 6047</a></span>
                </span>
                <span class="contact-item">
                    <span class="icon email"></span>
                    <span class="contact-text"><a href="mailto:enquiry@superiorsystems.in" style="color: black;">enquiry&#64;superiorsystems.in</a></span>
                </span>
            </div>
        </div>
        <!-- <div class="{{navbarClass}}"> -->
        <div class="main-navbar-container" style="display: inline-flex;" [class.sticky]="isSticky">
            <img *ngIf="isSticky" src="assets/images/Minimal-Business-Logo-Reveal-f-unscreen.gif" alt="Logo" class="sticky-logo" style="height: 65px; align-self: center;" />
            <img *ngIf="isSticky" src="assets/images/text.png" alt="Superior Digital Text" class="superior-text-logo"
            style="border-radius: 0px;margin-left: -30px !important; height: 40px;align-self: center;">
            <nav class="main-navbar">
                <ul class="nav-list">
                    <li class="nav-item"><a href="#">Home</a></li>
                    <li class="nav-item dropdown">
                        <a href="/superior-enterprise">Enterprise <span class="arrow">&#9662;</span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/superior-enterprise#enterprise-computing-solutions">Enterprise Computing Solutions</a></li>
                            <li><a href="/superior-enterprise#seamless-network-defense">Seamless Network Defense</a></li>
                            <li><a href="/superior-enterprise#av-solutions-for-enterprises">AV Solutions for Enterprises</a></li>
                            <li><a href="/superior-enterprise#mobility-for-modern-enterprise">Mobility for Modern Enterprises</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="/enterprise-new">Apple<span class="arrow">&#9662;</span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/enterprise-new">Why Apple for Your Enterprise</a></li>
                            <li class="dropdown-submenu">
                                <a href="/enterprise-new#apple-products" class="highlighted">Products <span class="arrow">&#9656;</span></a>
                                <ul class="dropdown-menu right">
                                    <li><a href="/enterprise-new#apple-products">Mac</a></li>
                                    <li><a href="/enterprise-new#apple-products">iPhone</a></li>
                                    <li><a href="/enterprise-new#apple-products">iPad</a></li>
                                    <li><a href="/enterprise-new#apple-products">Apple Watch</a></li>
                                    <li><a href="/enterprise-new#apple-manager">Apple Business Manager</a></li>
                                    <li><a href="/enterprise-new#apple-manager">Apple Care for Enterprise</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a href="/enterprise-new#apple-initiatives" class="highlighted">Apple Initiatives for Enterprises <span class="arrow">&#9656;</span></a>
                                <ul class="dropdown-menu right">
                                    <li><a href="/enterprise-new#developer-powerhouse"> Mac Developer's Powerhouse </a></li>
                                    <li><a href="/enterprise-new#mac-startup-accelerator">Mac Startup Accelerator</a></li>
                                    <li><a href="/enterprise-new#getting-started-with-mac">Getting Started with Mac</a></li>
                                    <!-- <li><a href="#">Apple Watch</a></li> -->
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a href="/enterprise-new#superior-packages" class="highlighted">Superior Solutions <span class="arrow">&#9656;</span></a>
                                <ul class="dropdown-menu right">
                                    <li><a href="/enterprise-new#superior-packages">Superior Lite</a></li>
                                    <li><a href="/enterprise-new#superior-packages">Superior Pro</a></li>
                                    <li><a href="/enterprise-new#superior-packages">Superior Ultra</a></li>
                                    <!-- <li><a href="#">Apple Watch</a></li> -->
                                </ul>
                            </li>
                            <!-- <li><a href="#"> Apple Initiatives for Enterprises</a></li>
                            <li><a href="#">under Superior Solutions</a></li> -->
                        </ul>
                    </li>
                    <li class="nav-item"><a href="/case-studies">Success Stories</a></li>

                    <li class="nav-item"><a href="/activity">News & Events</a></li>

                    <!-- <li class="nav-item dropdown">
                        <a href="#">News & Events <span class="arrow">&#9662;</span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">One</a></li>
                            <li><a href="#">Two</a></li>
                            <li><a href="#">Three</a></li>
                        </ul>
                    </li> -->
                    <li class="nav-item"><a href="/contact">Contact us</a></li>

                </ul>
            </nav>
        </div>
        <!-- </div> -->
    </div>
</header>