<header class="navbar-header">
    <div class="superior-navbar-container" style="display: grid;">
        <div class="superior-navbar"  [class.invisible]="!isSuperiorVisible">
            <div class="superior-navbar-left">
                <img src="assets/images/Minimal-Business-Logo-Reveal-f-unscreen.gif" alt="Superior Digital Logo"
                    class="superior-logo">
                <img src="assets/images/text.png" alt="Superior Digital Text" class="superior-text-logo"
                    style="border-radius: 0px;margin-left: -30px !important;">
                <img src="assets/images/authorized.png" alt="Apple Logo" class="apple-logo">
                <!-- <span class="reseller-text">Authorised Reseller</span> -->
            </div>
            <div class="superior-navbar-right">
                <span class="contact-item">
                    <span class="icon phone"></span>
                    <span class="contact-text">+91 80 2311 6047</span>
                </span>
                <span class="contact-item">
                    <span class="icon email"></span>
                    <span class="contact-text">enquiry&#64;superiorsystems.in</span>
                </span>
            </div>
        </div>
        <!-- <div class="{{navbarClass}}"> -->
        <div class="main-navbar-container" style="display: inline-flex;" [class.sticky]="isSticky">
            <nav class="main-navbar">
                <ul class="nav-list">
                    <li class="nav-item"><a href="#">Home</a></li>
                    <li class="nav-item dropdown">
                        <a href="#">Enterprise <span class="arrow">&#9662;</span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Enterprise Computing Solutions</a></li>
                            <li><a href="#">Seamless Network Defense</a></li>
                            <li><a href="#">Mobility for Modern Enterprises</a></li>
                            <li><a href="#">AV Solutions for Enterprises</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#">Apple<span class="arrow">&#9662;</span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Why Apple for Your Enterprise</a></li>
                            <li class="dropdown-submenu">
                                <a href="#" class="highlighted">Products <span class="arrow">&#9656;</span></a>
                                <ul class="dropdown-menu right">
                                    <li><a href="#">Mac</a></li>
                                    <li><a href="#">iPhone</a></li>
                                    <li><a href="#">iPad</a></li>
                                    <li><a href="#">Apple Watch</a></li>
                                    <li><a href="#">Apple Business Manager</a></li>
                                    <li><a href="#">Apple Care for Enterprise</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a href="#" class="highlighted">Apple Initiatives for Enterprises <span class="arrow">&#9656;</span></a>
                                <ul class="dropdown-menu right">
                                    <li><a href="#"> Mac Developer’s Powerhouse </a></li>
                                    <li><a href="#">Mac Startup Accelerator</a></li>
                                    <li><a href="#">Getting Started with Mac</a></li>
                                    <!-- <li><a href="#">Apple Watch</a></li> -->
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a href="#" class="highlighted">Superior Solutions <span class="arrow">&#9656;</span></a>
                                <ul class="dropdown-menu right">
                                    <li><a href="#">Superior Lite</a></li>
                                    <li><a href="#">Superior Pro</a></li>
                                    <li><a href="#">Superior Ultra</a></li>
                                    <!-- <li><a href="#">Apple Watch</a></li> -->
                                </ul>
                            </li>
                            <!-- <li><a href="#"> Apple Initiatives for Enterprises</a></li>
                            <li><a href="#">under Superior Solutions</a></li> -->
                        </ul>
                    </li>
                    <li class="nav-item"><a href="#">News & Events</a></li>

                    <!-- <li class="nav-item dropdown">
                        <a href="#">News & Events <span class="arrow">&#9662;</span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">One</a></li>
                            <li><a href="#">Two</a></li>
                            <li><a href="#">Three</a></li>
                        </ul>
                    </li> -->
                </ul>
            </nav>
            <div class="navbar-right">
                <a href="/contact" class="navbar-btn">Contact Sales</a>
                <!-- <a href="#" class="navbar-btn">Support</a> -->
            </div>
        </div>
        <!-- </div> -->
    </div>
</header>