<div class="contact-container">
    <div class="blurbg">
        <div class="left-section">
            <h1>Let us<br />contact you!</h1>
            <p>Submit your request in minutes,<br />no matter your need.</p>
        </div>

        <div class="right-section">
            <form class="form-box">
                <input type="text" placeholder="Name" name="name" />

                <!-- <div class="row"> -->
                    <input type="email" placeholder="Email" name="email" />
                    <input type="tel" placeholder="Mobile" name="mobile" />
                <!-- </div> -->

                <input type="text" placeholder="Industry" name="industry" />
                <textarea placeholder="Describe your needs" name="message"></textarea>

                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>