<section id="hero-banner">
    <div class="container">
        <h1>Apple for Your Enterprise.</h1>
        <!-- <p>Your success is our mission.</p> -->
    </div>
</section>
<section class="enterprise-offerings">
    <div class="offerings-content">
        <div class="enterprise-heading">
            <h2>Apple for Enterprise</h2>
        </div>
        <div class="enterprise-details">
            <p>Experience enterprise solutions with Superior Digital. We specialise in delivering expert-driven technology, consulting, support services, and training that empower businesses to unlock their full creative and productive potential.</p>
            <div class="offerings-list">
                <h3>Our offerings:</h3>
                <ul>
                    <li>&nbsp;Apple Pre-Sales Expertise</li>
                    <li>&nbsp;Apple Device Trade-In Program</li>
                    <li>&nbsp;Apple Services with Expert Onsite Support</li>
                    <li>&nbsp;Strategic Partnerships with Leading Brands</li>
                    <li>&nbsp;Tailored Apple Purchase Programs</li>
                    <li>&nbsp;Seamless Apple Deployment & Integration</li>
                    <li>&nbsp;Apple Financing & Flexible Payment Plans</li>
                    <li>&nbsp;Apple Ecosystem Consulting</li>
                    <li>&nbsp;Custom Apple Training & Enablement</li>
                    <li>&nbsp;Exclusive Apple Programs</li>
                    <li>&nbsp;Comprehensive Apple Maintenance & Support</li>
                  
                </ul>
            </div>
            <a href="#" class="learn-more-btn">Learn More »</a>
        </div>
    </div>
</section>

<section class="services-section">
    <div class="services-intro">    
        <div class="intro-content">
            <h2>Our Services</h2>
            <p>Adding value to every aspect of your business through reliable end-to-end IT solutions.</p>
            <a href="/our-services" class="explore-btn">Explore All Services <i class="fas fa-arrow-right"></i></a>
        </div>
    </div>
    <div class="services-carousel-section bg-color">
        <owl-carousel-o [options]="customOptions1" class="services-carousel">
            <ng-template carouselSlide>
                <div class="service-card">
                    <div class="card-image">
                        <img src="assets/images/presales.jpeg" alt="Pre-Sales">
                    </div>
                    <div class="card-content">
                        <h3>Apple Pre-Sales Expertise</h3>
                        <p>We help you choose the right Apple devices with expert guidance tailored to your business needs and budget.
                            Avoid overbuying and make smart, confident investments from the start.</p>
                        <a routerLink="/presales-support" class="learn-more">Know More »</a>
                    </div>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="service-card">
                    <div class="card-image">
                        <img src="assets/images/pocdemo.jpeg" alt="Demos">
                    </div>
                    <div class="card-content">
                        <h3>Apple Demos & Proof of Concept Solutions</h3>
                        <p>Experience how Apple fits your business with live demos and custom proof of concepts.
                            Test devices and workflows in your environment before you invest.</p>
                        <a routerLink="/demo" class="learn-more">Know More »</a>
                    </div>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="service-card">
                    <div class="card-image">
                        <img src="assets/images/apple_device_trade.jpg" alt="Trade-In">
                    </div>
                    <div class="card-content">
                        <h3>Apple Device Trade-In Program</h3>
                        <p>Easily upgrade with our Apple Trade-In program—get value for old devices toward new ones.
                            Secure, eco-friendly, and seamless for single or fleet replacements.</p>
                        <a routerLink="/buy-back" class="learn-more">Know More »</a>
                    </div>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="service-card">
                    <div class="card-image">
                        <img src="assets/images/case/m6.png" alt="Support">
                    </div>
                    <div class="card-content">
                        <h3>Apple Services with Expert Onsite Support</h3>
                        <p>Get expert Apple support onsite or remotely—from setup to troubleshooting.
                            Certified engineers ensure smooth performance, tailored to your team's needs.</p>
                        <a routerLink="/onsite-support" class="learn-more">Know More »</a>
                    </div>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="service-card">
                    <div class="card-image">
                        <img src="assets/images/case/m5.png" alt="Partnerships">
                    </div>
                    <div class="card-content">
                        <h3>Strategic Partnerships with Leading Brands</h3>
                        <p>Apple is just the start—we integrate top brands like Logitech, Bose, and Jabra.
                            Create complete, reliable solutions that boost productivity and performance.</p>
                        <a routerLink="/partnering" class="learn-more">Know More »</a>
                    </div>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="service-card">
                    <div class="card-image">
                        <img src="assets/images/case/m4.png" alt="Purchase">
                    </div>
                    <div class="card-content">
                        <h3>Tailored Apple Purchase Programs</h3>
                        <p>Every business is unique—our Apple purchase plans are too.
                            Get flexible options, volume pricing, and financing tailored to your needs.</p>
                        <a routerLink="/purchase-program" class="learn-more">Know More »</a>
                    </div>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="service-card">
                    <div class="card-image">
                        <img src="assets/images/deploy.png" alt="Purchase">
                    </div>
                    <div class="card-content">
                        <h3>Seamless Apple Deployment & Integration</h3>
                        <p>Zero-touch Apple deployment with MDM and Business Manager—fast, secure, and seamless.
                            Ideal for startups to enterprise scale-ups, with expert setup and minimal downtime.</p>
                        <a routerLink="/apple-deployment" class="learn-more">Know More »</a>
                    </div>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="service-card">
                    <div class="card-image">
                        <img src="assets/images/finan_flexi.jpeg" alt="Purchase">
                    </div>
                    <div class="card-content">
                        <h3>Apple Financing & Flexible Payment Plans</h3>
                        <p>Empower your team with Apple tech through flexible leasing and financing.
                            Enjoy predictable costs, easy upgrades, and stress-free scaling.</p>
                        <a routerLink="/apple-financing" class="learn-more">Know More »</a>
                    </div>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="service-card">
                    <div class="card-image">
                        <img src="assets/images/compre_supp.jpeg" alt="Purchase">
                    </div>
                    <div class="card-content">
                        <h3>Comprehensive Apple Maintenance & Support</h3>
                        <p>End-to-end Apple support from certified engineers—onsite or remote.
                            For updates, repairs, and more, we keep your Apple setup running smoothly.</p>
                        <a routerLink="/apple-maintenance" class="learn-more">Know More »</a>
                    </div>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="service-card">
                    <div class="card-image">
                        <img src="assets/images/training_new1.png" alt="Purchase">
                    </div>
                    <div class="card-content">
                        <h3>Custom Apple Training & Enablement</h3>
                        <p>Boost productivity with tailored Apple training for users, creatives, and IT teams.
                            Onsite or online, learn to create, collaborate, and troubleshoot like a pro.</p>
                        <a routerLink="/apple-training" class="learn-more">Know More »</a>
                    </div>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="service-card">
                    <div class="card-image">
                        <img src="assets/images/ecosystemconsult.png" alt="Purchase">
                    </div>
                    <div class="card-content">
                        <h3>Apple Ecosystem Consulting</h3>
                        <p>Align Apple devices, apps, and workflows with your business goals.
                            From planning to deployment, we deliver secure, scalable solutions that work.</p>
                        <a routerLink="/apple-ecosystem" class="learn-more">Know More »</a>
                    </div>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="service-card">
                    <div class="card-image">
                        <img src="assets/images/apple_program.png" alt="Purchase">
                    </div>
                    <div class="card-content">
                        <h3>Exclusive Apple Programs</h3>
                        <p>Unlock exclusive Apple benefits for business and education through an authorised partner.
                            Access tools, pricing, and support to grow and achieve more.</p>
                        <a routerLink="/apple-programscreen" class="learn-more">Know More »</a>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</section>

<section class="pricing-area pt-100 pb-70" id="superior-packages">
    <div class="container">
        <div class="section-title">
            <!-- <span style="font-size: 1.2rem; font-weight: 500;">What We Offer</span> -->
            <h2>Superior Solutions</h2>
            <p>Superior Digital offers tiered Apple Enterprise Packages—Lite, Pro, and Ultra—designed to meet the evolving needs of growing businesses. From essential Apple device deployment for small teams to fully managed, scalable solutions with advanced security, app integration, and multi-location support, there's a perfect fit for every stage of your Apple journey.</p>
        </div>

        <div class="row mobile-pricing">
            <div class="col-lg-4 col-sm-6">
                <div class="single-pricing">
                    <div class="pricing-top-heading">
                        <h3>Superior lite</h3>
                        <!-- <p>Build A Website</p> -->
                    </div>
                    <a class="box-btn" routerLink="/contact">Contact Sales</a>
                    <!-- <a class="contact-sales-btn">Contact Sales</a> -->
                    <!-- <span>$79 <sub>/M</sub></span> -->
                   <!--  <ul>
                        <p>Target Audience</p>
                        <li><i class="bx bx-badge-check"></i> Small businesses, startups, or educational institutions new to Apple ecosystems</li>
                    </ul> -->
                    <ul>
                        <p>Features</p>
                        <li><i class="bx bx-badge-check"></i>  Pre-delivery device preparation via Apple Business Manager (ABM) for automated enrollment.</li>
                        <li><i class="bx bx-badge-check"></i> Basic MDM setup (e.g., Jamf or Mosyle) for device configuration and app distribution.</li>
                        <li><i class="bx bx-badge-check"></i> Core security settings (passcode policies, encryption).</li>
                        <li><i class="bx bx-badge-check"></i> Virtual onboarding training on macOS, iOS, and iPadOS for IT admins and end-users.</li>
                        <li><i class="bx bx-badge-check"></i> Access to Superior's financing options for cost-effective device procurement.</li>
                        <li><i class="bx bx-badge-check"></i> 24/7 email and phone support for initial deployment.</li>
                        <li><i class="bx bx-badge-check"></i>  Onsite device support in 25 locations across India.</li>
                        <li><i class="bx bx-badge-check"></i> Include Training on Mac Os, iOS, Pad Os.</li>
                        <!-- <li><i class="bx bx-badge-check"></i> Unlimited Domains</li> -->
                    </ul>
                    <ul>
                        <p>Benefits</p>
                        <li><i class="bx bx-badge-check"></i> Simplifies Apple device adoption with minimal IT overhead, ideal for small teams (10–50 devices) using iPads or MacBooks.</li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="single-pricing">
                    <div class="pricing-top-heading">
                        <h3>Superior Pro</h3>
                        <!-- <p>Build A Website</p> -->
                    </div>
                    <a class="box-btn" routerLink="/contact">Contact Sales</a>
                    <!-- <a class="contact-sales-btn">Contact Sales</a> -->
                    <!-- <span>$79 <sub>/M</sub></span> -->
                   <!--  <ul>
                        <p>Target Audience</p>
                        <li><i class="bx bx-badge-check"></i>Simplifies Apple device adoption with minimal IT overhead, ideal for small teams (10–50 devices) using iPads or MacBooks.</li>
                    </ul> -->
                    <ul>
                        <p>Features</p>
                        <li style="color: red; font-size: 16px;font-weight: bolder;">Includes all features of Superior Lite.</li>
                        <li><i class="bx bx-badge-check"></i>Zero-touch deployment with advanced ABM and MDM configurations.</li>
                        <li><i class="bx bx-badge-check"></i>Integration with enterprise apps (e.g., Microsoft 365, Google Workspace).</li>
                        <li><i class="bx bx-badge-check"></i>Enhanced security (VPN, single sign-on, conditional access).</li>
                        <li><i class="bx bx-badge-check"></i>AppleCare+ for Business and extended warranty options.</li>
                        <li><i class="bx bx-badge-check"></i>In-person or virtual training on macOS, iOS, and iPadOS, plus biannual IT reviews</li>
                        <li><i class="bx bx-badge-check"></i>Dedicated account manager.</li>
                        <li><i class="bx bx-badge-check"></i>Asset tagging support.</li>
                        <li><i class="bx bx-badge-check"></i>Logistics support, reverse pickup facility from user locations across India with transit insurance.</li>
                        <!-- <li><i class="bx bx-badge-check"></i> Unlimited Domains</li> -->
                    </ul>
                    <ul>
                        <p>Benefits</p>
                        <li><i class="bx bx-badge-check"></i> Streamlines complex deployments for hybrid environments, supporting 100–500 devices with compliance, logistics, and asset management.</li>
                    </ul>
                    <strong class="popular">Popular</strong>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 offset-sm-3 offset-lg-0">
                <div class="single-pricing">
                    <div class="pricing-top-heading">
                        <h3>Superior Ultra</h3>
                        <!-- <p>Build A Website</p> -->
                    </div>
                    <a class="box-btn" routerLink="/contact">Contact Sales</a>
                    <!-- <a class="contact-sales-btn">Contact Sales</a> -->
                    <!-- <span>$79 <sub>/M</sub></span> -->
                    <!-- <ul>
                        <p>Target Audience</p>
                        <li><i class="bx bx-badge-check"></i> Large enterprises, government organizations, or healthcare systems with multi-site needs.</li>
                    </ul> -->
                    <ul>
                        <p>Features</p>
                        <li style="color: red;font-size: 16px;font-weight: bolder;">Includes all features of Superior Pro</li>
                        <li><i class="bx bx-badge-check"></i> Fully customized ABM and MDM deployment with role-based profiles.</li>
                        <li><i class="bx bx-badge-check"></i> Custom app integration or development via Superior's network.</li>
                        <li><i class="bx bx-badge-check"></i> Custom app integration or development via Superior's network.</li>
                        <li><i class="bx bx-badge-check"></i> On-site deployment support across multiple India locations.</li>
                        <li><i class="bx bx-badge-check"></i> Comprehensive training on macOS, iOS, and iPadOS, plus ongoing workshops.</li>
                        <li><i class="bx bx-badge-check"></i> Premium 24/7 support with SLA-backed response times and lifecycle management.</li>
                        <li><i class="bx bx-badge-check"></i> Warehousing support.</li>
                        <li><i class="bx bx-badge-check"></i> Apple Certified Technician diagnose and reporting facility on reverse pickup.</li>
                        <li><i class="bx bx-badge-check"></i> Theft Insurance</li>
                        <!-- <li><i class="bx bx-badge-check"></i> Unlimited Domains</li> -->
                    </ul>
                    <ul>
                        <p>Benefits</p>
                        <li><i class="bx bx-badge-check"></i> Delivers enterprise-grade scalability, security, and comprehensive logistics for 1,000+ devices across regions.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>