<a href="https://superiorsystems.in/apple" target="_blank" class="floating-coin">
  <div class="coin">
    <div class="front">
      <img src="assets/images/superior.png" alt="Logo">
    </div>
    <div class="back">
      <img src="assets/images/authorized.png" alt="Logo">
    </div>
  </div>
</a>

<div class="page-title-area">
    <img src="assets/images/device_banner_new.jpeg" alt="Page Background" class="page-bg">
    <button class="back-arrow-btn" (click)="navigateToHome()">
        <i class="fas fa-chevron-left fa-2x"></i>
    </button>
    <div class="container">
        <div class="page-title-content">
            <h2>Devices</h2>
        </div>
    </div>

    <div class="page-shape">
        <div class="shape1"><img src="assets/images/shape/1.png" alt="shape" /></div>
        <div class="shape3"><img src="assets/images/shape/3.png" alt="shape" /></div>
        <div class="shape4"><img src="assets/images/shape/4.png" alt="shape" /></div>
        <div class="shape5"><img src="assets/images/shape/5.png" alt="shape" /></div>
        <div class="shape6"><img src="assets/images/shape/6.png" alt="shape" /></div>
    </div>
</div>

<section class="services-details-area ptb-100">
    <div class="container">
        <div class="scrives-item-2 mt-4 ">
            <div class="row align-items-center">
                <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
                    <div class="services-img mb-qc ios-content">
                        <div class="circular-layout">
                            <div class="image-container">
                              <img src="assets/images/device1.jpeg" alt="image" class="image-container-img"/>
                            </div>
                          </div>

                        <!-- <div class="image-wrapper">
                            <div class="background-shape shape1"></div>
                            <div class="background-shape shape2"></div>
                            <img src="assets/images/device4.png" alt="Person">
                        </div> -->
                    </div>
                </div>

                <div class="col-lg-6">
                    <p>Superior Digital provides enterprise organisations with a wide range of multi-brand laptops, phones, and tablets from leading brands like Apple, Dell, Lenovo, and HP. Our solutions are designed to enhance productivity, creativity, and seamless collaboration across teams. </p>
                    <p>We offer cutting-edge devices that integrate smoothly with existing IT infrastructure, ensuring reliability and top-tier performance. Whether for remote work, business operations, or content creation, our selection of devices meets diverse enterprise needs. </p>
                </div>
            </div>
        </div>

        <br>
        <br>

        <div class="scrives-item-2 mt-4 ">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <p>We also guided employees on best practices for device maintenance, security, and longevity to enhance productivity. The session provided valuable insights on storage management, battery health, software updates, and data protection. Empower your team with expert Mac assessments—contact us for a customized health check at your organisation!</p>
                    <p>Our expert consultation helps businesses choose the right technology tailored to their workflow.We ensure security, scalability, and future-ready solutions with the latest innovations. </p>
                </div>

                <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
                    <div class="services-img mb-qc ios-content">
                        <div class="circular-layout">
                          <div class="image-container">
                             <img src="assets/images/device2.jpeg" alt="image" class="image-container-img"/>
                          </div>
                        </div>
                       <!--  <div class="image-wrapper">
                            <div class="background-shape shape1"></div>
                            <div class="background-shape shape2"></div>
                            <img src="assets/images/device2.png" alt="Person">
                        </div> -->
                    </div>
                </div>
            </div>
        </div>

        <br>
        <br>

        <div class="scrives-item-2 mt-4 ">
            <div class="row align-items-center">
                <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
                    <div class="services-img mb-qc ios-content">
                        <div class="circular-layout">
                            <div class="image-container">
                               <img src="assets/images/device5.jpeg" alt="image" class="image-container-img"/>
                            </div>
                          </div>
                       <!--  <div class="image-wrapper">
                            <div class="background-shape shape1"></div>
                            <div class="background-shape shape2"></div>
                            <img src="assets/images/device3.png" alt="Person">
                        </div> -->
                    </div>
                </div>

                <div class="col-lg-6">
                    <p>With dedicated support, training, and deployment services, we empower organisations to maximise their technology investments. Choose Superior Digital for premium devices and expert guidance to drive business success.</p>
                </div>
            </div>
        </div>

        <!-- <br>
        <br>

        <div class="scrives-item-2 mt-4 ">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <p> We had insightful discussions on how to ensure customer service excellence by delivering the best Apple device and MDM solutions tailored to business needs. By leveraging our collective knowledge, we aim to provide seamless deployment, management, and support for Apple ecosystems. Stronger teamwork leads to better solutions—let's transform IT experiences together!</p>
                </div>

                <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
                    <div class="services-img mb-qc ios-content">
                        <div class="image-wrapper">
                            <div class="background-shape shape1"></div>
                            <div class="background-shape shape2"></div>
                            <img src="assets/images/solutions-details/56.png" alt="Person">
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</section>

<div class="container mb-4">
    <div class="d-flex justify-content-end">
        <button class="btn back-btn" (click)="navigateToHome()">
            <i class="fas fa-arrow-left me-2"></i> Back to Home
        </button>
    </div>
</div>
